.button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #5357B6;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  cursor: pointer;
}

.button.danger {
  color: #ED6368;
}