.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  gap: 16px;
}

@media (min-width: 768px) {
  .footer {
    display: none;
  }

  .actions {
    display: none;
  }
}