.score {
  width: 100px;
  height: 40px;
  padding: 0 15.58px;
  border-radius: 10px;
  background-color: #F5F6FA;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score.v {
  width: 40px;
  height: 100px;
  padding: 15.58px 0;
  flex-direction: column;
}

.btn {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.btn img {
  display: block;
}

.num {
  font-weight: 500;
  color: #5357B6;
}

