.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  color: #FFF;
  cursor: pointer;
}

.button.norm {
  background-color: #5357B6;
}

.button.warn {
  background-color: #ED6368;
}

.button.none {
  background-color: #67727E;
}