@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html, body {
  height: 100%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F6FA;
  font-family: 'Rubik', sans-serif;
}

@media (width < 768px) {
  .v_pc {
    display: none;
  }
}

.cs {
  padding: 32px 16px;
  max-width: 730px;
}

@media (min-width: 768px) {
  .cs {
    padding: 64px 0;
    margin: 0 auto;
  }
}